
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap');
*{
    font-family: Mulish;
    font-style: normal;
}
.title{
    color: #131318;
font-family: Mulish;
font-size: 36px;
}
.title>span{
    color:darkorange;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
/* banner style */
.banner{
    color: #0e0d0d;
text-align: center;
width: 1170px;
height: 500px;
flex-shrink: 0;
background-image:url(Group\ 13\ \(1\)\ \(1\).png)
}
.banner title{
    font-weight: 800;
    font size: 90px;
}
.banner-des{
    font-weight: 500;
}
.btn-primary{
    color: #f8f8fa;
    background-color:rgb(248, 65, 19);
}
@media screen and(max-width: 600px)
    .nav{
        display: flex-column;
    }


/* container based */
.container-head{
    display: flex;
}
.container{
    padding: 70px;
}
.container-title{
}
.container-img {
    width: 540px;
height: 550px;
flex-shrink: 0;
padding: 20px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;}

.btn-container {
    color: #dadae2;
    background-color:rgb(243, 64, 9);
    font-size: larger;
}
.Destination{
    text-align: center;
}
/* tour image based */
.tours-img {
    border-radius: 50px;
}
.why-choose{
    display: flex; 
    padding: 25px 80px;
}
.box-1,.box-2 {
    border-color: black;
    border-radius: 16px;
    margin-block: 80px;

}
.box-1{
    background-color: rgb(240, 221, 196);
}
.box-2{
    background-color: rgb(190, 227, 241);
}
.box-3{
    text-align: center;
    border-color: black;
    border-radius: 16px;
    padding-bottom: 20px;
    background-color: rgb(240, 221, 196);
}
